# Binaries
*.exe
secure-server
secure-client

# Private Keys and Certificates
certs/*.pem
certs/*.key
key.pem
cert.pem

# Configuration files
test-config.json
config.json

# Log files
*.log

# OS-specific files
.DS_Store